<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
{% extends "base.html" %}

{% block title %}FizzBuzz{% endblock %}

{% block content %}
    <h1>FizzBuzz</h1>
    <ul>
        {% for number in numbers %}
            <li>
                {% if number % 3 == 0 and number % 5 == 0 %}
                    FizzBuzz
                {% elif number % 3 == 0 %}
                    Fizz
                {% elif number % 5 == 0 %}
                    Buzz
                {% else %}
                    {{ number }}
                {% endif %}
            </li>
        {% endfor %}
    </ul>
{% endblock %}
